body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
  #menu a {
    font-size: 18px;
    font-weight: 400;
    color: #3f3f3f;
  }
  
  #menu button {
    font-size: 18;
    font-weight: 400;
  }
  
  .carousel-inner  {
    max-height: 39rem;
  }
  
  #pie {
    color: white;
  }
  
  #msg textarea {
    resize: none;
  }

  $fondos:#0f840f;
  $fondos2:#f6b335;
  $fondos3:#ffff43;
  $letras: #161111;
  
  
body{
      background-color: $fondos2;
}
@import "header-nav";
@import "main";
@import "footer";